body {
    background: #494545;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    font-family: monospace;
}

#score {
    font-size: 24px;
    color: rgba(125, 226, 37, 0.788);
}

canvas {
    background: #0c0c0c;
    border: 4px solid #ec0b0b;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(97, 97, 85, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 24px;
    padding: 16px;
}

.hidden {
    display: none;
}